.navContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navLink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Verdana;
  color: rgba(33, 33, 33, 1);
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .navContainer {
    align-items: flex-end;
  }

  .navContainer::after {
    content: '';
    position: absolute;
    left: -20px;
    width: 0;
    height: 32px;
    border: 1px solid rgba(224, 224, 224, 1);
  }
}
