.container {
  padding-left: 20px;
  padding-right: 20px;
}
.dailyCaloriesFormTitle {
  width: 280px;
  margin-top: 32px;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
}
.inputsContainer {
  margin-top: 2px;
}
.leftSideInputs {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.rightSideInputs {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.bloodTypeTitle {
  margin: 0;
  margin-top: 32px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
}
.bloodTypeContainer {
  margin-top: 8px;
  display: flex;
  gap: 13px;
}
/* Скрываем стандартные радио-кнопки */
.bloodTypeInput {
  display: none;
} /* Стилизация меток */

.bloodTypeLabel {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
} /* Создание кастомного круга для радио-кнопки */
.bloodTypeLabel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid rgba(224, 224, 224, 1); /*Цвет рамки круга  */
  border-radius: 50%;
  background: white;
}

/* Круг внутри выбранной радио-кнопки */
.bloodTypeInput:checked + .bloodTypeLabel::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #fc842d; /* Цвет внутреннего круга */
  border-radius: 50%;
}
.bloodTypeInput:checked + .bloodTypeLabel {
  font-weight: 700;
  color: #fc842d;
}

.submitFormButton {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .dailyCaloriesFormTitle {
    width: 520px;
    margin-top: 100px;
    font-size: 34px;
    line-height: 47.6px;
  }
  .inputsContainer {
    margin-top: 28px;
    display: flex;
    gap: 32px;
  }
  .submitFormButton {
    margin-top: 60px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .dailyCaloriesFormTitle {
    width: 608px;
    margin-top: 144px;
  }

  .inputsContainer {
    display: flex;
    gap: 30px;
  }

  .leftSideInputs {
    display: flex;
    flex-direction: column;
    width: 240px;
  }
  .rightSideInputs {
    display: flex;
    flex-direction: column;
    width: 240px;
  }
  .bloodTypeTitle {
    margin: 0;
    margin-top: 41px;
    padding-bottom: 21px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }
  .bloodTypeContainer {
    margin-top: 8px;
    display: flex;
    gap: 13px;
  }
  /* Скрываем стандартные радио-кнопки */
  .bloodTypeInput {
    display: none;
  } /* Стилизация меток */

  .bloodTypeLabel {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
  } /* Создание кастомного круга для радио-кнопки */
  .bloodTypeLabel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid rgba(224, 224, 224, 1); /*Цвет рамки круга  */
    border-radius: 50%;
    background: white;
  }

  /* Круг внутри выбранной радио-кнопки */
  .bloodTypeInput:checked + .bloodTypeLabel::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #fc842d; /* Цвет внутреннего круга */
    border-radius: 50%;
  }
  .bloodTypeInput:checked + .bloodTypeLabel {
    font-weight: 700;
    color: #fc842d;
  }

  .submitFormButton {
    margin-top: 60px;
    margin-left: 323px;
  }
}
